html {
  background-color: #19082c;
  color: white;
  -webkit-box-shadow: inset 0px 0px 0px 3px white;
  -moz-box-shadow: inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 3px white;
}
a {
  color: white;
}
#App {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 0px 3px white;
  -moz-box-shadow: inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 3px white;
  width: 100vw;
  height: 7vh;
}
nav a {
  text-decoration: none;
}
.activePage {
  text-decoration: underline;
}
header h1 {
  padding-left: 5vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 70vw;
}

#Contact > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#Contact > form > textarea,
input {
  width: 60vw;
}

@media only screen and (min-width: 1000px) {
  section {
    width: 40vw;
  }
  #Contact > form > textarea,
  input {
    width: 30vw;
  }
}
